name: Cypress Tests with Dependency and Artifact Caching

on: push

jobs:
  install:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cypress install
        uses: cypress-io/github-action@v6
        with:
          # Disable running of tests within install job
          runTests: false
          build: npm run build

      - name: Save out folder
        uses: actions/upload-artifact@v5
        with:
          name: out
          if-no-files-found: error
          path: out

  cypress-run:
    runs-on: ubuntu-22.04
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download the out folder
        uses: actions/download-artifact@v4.1.7
        with:
          name: out
          path: out

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm run dev
          browser: chrome
