name: Build test

on:
  workflow_dispatch:        # can be triggered manually
  pull_request:             # and for PRs

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm

      - name: Build
        run: |
          npm ci
          npm run build
          # creates a .nojekyll file in the out directory to tell GitHub Pages not to treat the site as a Jekyll project.
          touch out/.nojekyll

      - name: Deploy to GitHub Pages (dry run)
        run: |
          mv out out-new-build
          git checkout gh-pages
          echo "===== Brief ====="
          diff --brief --recursive --new-file out out-new-build || true
          echo "===== Diff ====="
          diff --recursive --new-file out out-new-build || true
